<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
<footer class="bg-dark-gradient footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-border-bottom pb-6 mb-5">
                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <h4 class="text-white">
                           Find ur job
                        </h4>
                    </div>
                    <div class="col-lg-4 col-xl-6">
                        <form class="d-flex flex-row mb-2 p-1 bg-white input-group">
                            <input type="text" class="form-control rounded-0 border-0" placeholder="tap the name of the society">
                            <button class="btn btn-secondary rounded-0 flex-shrink-0" type="submit">search</button>
                        </form>
                    </div>
                    <div class="col-lg-4 col-xl-3">
                        <div class="text-lg-end text-white">
                            <span class="h6">Call Us On</span><br>
                            <span class="h3">71258369</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3 my-4">
                    <div class="mb-4">
                        <img src="static/img/logo-light.svg" title="" alt="">
                    </div>
                 </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Customer</h5>
                    <ul class="list-unstyled white-link footer-links">
                        
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Product</h5>
                    <ul class="list-unstyled white-link footer-links">
                       
                        <li>
                            <a href="#">Join our team</a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-2 my-4">
                    <h5 class="text-white h6 mb-4">Company</h5>
                    <ul class="list-unstyled white-link footer-links">
                        <li>
                            <a href="#">About</a>
                        </li>
                        
                    </ul>
                </div>
                
                    </div>
                </div>
            </div>
  
    <div class="footer-bottom footer-border-top light py-3">
        <div class="container text-center">
            <p class="m-0">© 2021 copyright <a href="#" class="text-reset">pxdraft</a></p>
        </div>
    </div>
</footer>